@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Work+Sans:300,400,500,600,700,800,900');


* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f7f7f7;
	color: #a5a5a5;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 1.45;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p:last-of-type {
	margin-bottom: 0;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #FF6347;
}

p a:hover {
	color: #FFFFFF;
	background: #ffa07f;
}

p a:hover::after {
	opacity: 0.2;
}

::selection {}

p::selection {}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

.form-control {
	color: #db5246;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.prlx_parent {
	overflow: hidden;
}

.prlx {
	height: 130% !important;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.nopadding {
	padding: 0px !important;
}

/*********************************
3
/*********************************
5. Home
*********************************/

.home {
	width: 100%;
	height: 360px;
}

.home_background {
	background-image: url(../assets/post_8.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: 100% 100%;
	height: 100%;
	display: grid;
}

.home_background>span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #ffff;
	text-transform: uppercase;
	place-self: center;
	cursor: pointer;
}

.home_background>span:hover {
	background-color: rgba(255, 255, 255, 0.358);
	padding: 5px 15px;
	border-radius: 30px;
}

.home_background>span>i {
	margin-right: 10px;
}

.custom_nav_container {
	z-index: 10;
}

.home_slider_nav_container {
	position: absolute;
	bottom: 264px;
	left: calc(((100vw - 1170px) / 2) + (1170px * 0.75) + 8px);
}

.custom_dots {
	display: inline-block;
	height: 12px;
	margin-left: 7px;
	margin-right: 7px;
}

.custom_dot {
	display: inline-block;
	padding: 2px;
	cursor: pointer;
}

.custom_dot span {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.custom_dot.active span {
	background: rgba(255, 255, 255, 1);
}

.custom_dot:hover span {
	background: rgba(255, 255, 255, 1);
}

.custom_prev,
.custom_next {
	cursor: pointer;
}

.custom_prev,
.custom_next {
	display: inline-block;
	vertical-align: middle;
}

.custom_prev svg polyline,
.custom_next svg polyline {
	fill: rgba(255, 255, 255, 0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.custom_prev:hover svg polyline,
.custom_next:hover svg polyline {
	fill: rgba(255, 255, 255, 1);
}

/*********************************
6. Main Content
*********************************/

.page_content {
	background: #f7f7f7;
}

.category {
	margin-top: 50px;
	margin-bottom: 30px;
}

/* main_tags */
.main_content .main_tags {
	margin-top: 50px;
	display: grid;
	width: 100%;
	grid-template-rows: auto auto;
	gap: 20px;
}

.main_content .main_tags .main_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
}

.main_content .main_tags .main_title::after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 3px;
	background: #000000;
	content: '';
}

.main_content .main_tags .tags_popular {
	padding: 10px 0;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.main_tags .tags_popular .most_tags,
.main_tags .tags_popular .tags_items {
	border-radius: 10px;
	background-color: #ececec;
	border: none;
	cursor: pointer;
}

.main_tags .tags_popular .most_tags {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 0 7px;
	color: #000000;
}

.main_tags .tags_popular .most_tags>i {
	color: red;
	font-size: 20px;
	transition: 0.5s;
}

.main_tags .tags_popular .most_tags:hover .fa-tags,
.main_tags .tags_popular .most_tags:hover .fa-feather {
	transform: scale(1.2);
	transition: 0.5s;
}

.main_tags .tags_popular .tags_items {
	display: grid;
	grid-template-columns: 60px 110px 36px;
	gap: 5px;
	align-items: center;
}

.main_tags .tags_popular .tags_items .img_tags {
	margin-left: 5px;
	padding: 5px 0;
}

.main_tags .tags_popular .tags_items img {
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}


.tags_popular .tags_items .title_tags>h3 {
	color: #000000;
	font-size: 17px;
	font-weight: bold;
}

.tags_popular .tags_items>i {
	width: 30px;
	border: none;
	outline: none;
	padding: 5px 0;
	border-radius: 10px;
	color: #6c6c6c;
	background-color: #ffffff;
	text-align: center;
	transition: 0.5s;
}

.tags_popular .tags_items:hover .fa-arrow-right {
	color: #000000;
	transform: translateX(5px);
	transition: 0.5s;
}

/*Pagination CSS*/
.category .listPage {
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	list-style: none;
}

.category .listPage>li {
	background-color: #ffffffBD;
	color: #000000;
	padding: 7px 15px !important;
	display: inline-block !important;
	margin: 0 10px !important;
	cursor: pointer;
}

.category .listPage>li:hover {
	color: #2daadf;
}

.category .listPage .active {
	background-color: #B192EF;
	color: #fff;
}

/* 
.category>#pagination>li.active {
	background-color: black;
} */

/*********************************
7. Section Panel
*********************************/

.section_panel {
	z-index: 10;
	justify-content: space-between !important;
}

.section_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 10px;
	white-space: nowrap;
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

.section_title::after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 2px;
	background: #000000;
	content: '';
}

.section_title_top {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 5px;
	margin-right: 10px;
}

.section_title_top .titles_top {
	color: #000000;
	font-size: 15px;
}

.section_content {
	display: grid;
	grid-row: auto;
	row-gap: 20px;
	padding-top: 33px;
}

.section_content .item_content {
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.section_content .item_content:hover {
	transform: translateX(5px);
	transition: 0.5s;
}

.section_content .content_col {
	display: grid;
	grid-template-columns: 30% 70%;
	column-gap: 20px;
	background-color: #ededed !important;
	border: 1px solid rgb(237, 237, 237);
	padding: 5px 0;
	border-radius: 20px;
	transition: 0.5s;
}

.section_content .content_col:hover {
	border-radius: 0px;
	transition: 0.5s;
}

.content_col .content_img {
	display: flex;
	align-items: center;
}

.content_col .content_img>img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
}

.section_content .content_col .content_content {
	text-align: justify;
}

.content_content .title_content {
	width: 90%;
	text-align: justify;
}

.content_content .title_content>h3 {
	color: #000000;
	font-weight: bold;
}

.content_content .title_content>span {
	color: #000000;
	font-size: 15px;
	font-weight: 500;
}

.content_content .user_post {
	width: 40%;
	display: grid;
	grid-template-columns: 60px 60%;
}

.content_content .user_post .userImg>img {
	width: 100%;
	padding-top: 5px;
	object-fit: cover;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.content_content .user_post .timePost {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content_content .user_post .timePost>h4 {
	color: #000000;
	font-weight: bold;
}

/*********************************

10. Sidebar
*********************************/

.sidebar {
	width: 100%;
	height: 100%;
	padding-top: 83px;
	padding-left: 30px;
	padding-bottom: 80px;
}

.sidebar_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 375px;
	height: 100%;
	background: #ededed;
}

.sidebar_title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000000;
}

.sidebar_section_content {
	padding-top: 55px;
}

.sidebar_slider_container {
	width: 100%;
}

.side_post a {
	display: block;
}

.side_post:not(:last-child) {
	margin-bottom: 15px;
}

.side_post_image div {
	width: 70px;
	height: 70px;
	border-radius: 6px;
	overflow: hidden;
}

.side_post_image div img {
	max-width: 100%;
}

.side_post_content {
	padding-left: 20px;
	margin-top: -5px;
}

.side_post_title {
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
	line-height: 1.285;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.side_post_title:hover {
	color: rgba(0, 0, 0, 0.5);
}

.side_post_content .post_meta {
	margin-top: 7px;
}

.sidebar_slider_nav {
	position: absolute;
	top: 5px;
	right: 0;
}

.sidebar_slider_nav_container .custom_prev svg polyline,
.sidebar_slider_nav_container .custom_next svg polyline {
	fill: rgba(0, 0, 0, 0.15);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.sidebar_slider_nav_container .custom_prev:hover svg polyline,
.sidebar_slider_nav_container .custom_next:hover svg polyline {
	fill: rgba(0, 0, 0, 1);
}

.sidebar_slider_nav_container .custom_dot span {
	background: rgba(0, 0, 0, 0.15);
}

.sidebar_slider_nav_container .custom_dot:hover span,
.sidebar_slider_nav_container .custom_dot.active span {
	background: rgba(0, 0, 0, 1);
}

.advertising {
	width: 100%;
	height: 340px;
	margin-top: 80px;
}

.advertising_link>a:hover {
	color: #FFFFFF !important;
}

.advertising_link>a:hover {
	background-color: #a5a5a5c3;
}

.advertising_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.advertising_content {
	width: 100%;
	height: 100%;
	padding-left: 28px;
	padding-bottom: 25px;
	padding-right: 15px;
}

.advertising_perc {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #2ddf80;
	margin-bottom: 14px;
}

.advertising_link a {
	font-size: 24px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	line-height: 1.33;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.advertising_link a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.newest_videos {
	margin-top: 72px;
}

.newest_videos .side_post_image div {
	border-radius: 50%;
	overflow: hidden;
}

.advertising_2 {
	width: 100%;
	height: 140px;
	margin-top: 80px;
}

.advertising_2_content {
	width: 100%;
	height: 100%;
}

.advertising_2_link a {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.advertising_2_link a span {
	font-weight: 600;
}

.advertising_2_link a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.future_events {
	margin-top: 72px;
}

.event_date {
	text-align: center;
	width: 70px;
	height: 70px;
}

.event_day {
	font-size: 40px;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.15);
	line-height: 0.75;
}

.event_month {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.15);
	line-height: 0.75;
	margin-top: 13px;
}

/*********************************