@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:ital@1&family=Roboto:ital,wght@0,100;0,300;1,300&family=Sono:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-menu-two {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    color: rgb(15, 15, 15);
    z-index: 10;
    position: relative;
    background-color: #f2f2f2;
}



.container-menu-two .menu-one {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    position: absolute;
    left: 12%;
    width: 120px;
    height: 39px;
    margin-top: 5px;
    cursor: pointer;
    background-image: url(./images/logo.png);
    background-size: 100% 100%;
}


.content-service-one {
    position: absolute;
    left: 22%;
    width: 300px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    border-left: 1px solid gray;
}

.content-service-one i {
    color: #363636;
    margin: 0 10px;
    cursor: pointer;
}

.content-service-one .fa-cart-shopping {
    padding: 10px;
    font-size: 10px;
    color: #b45309;
    background-color: #fff7ed;
    border-radius: 20px;
}

.content-login-one {
    position: absolute;
    width: 35%;
    height: 50px;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-login-one a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    margin-left: 5px;
    border: 1px solid transparent;
    padding: 10px 15px;
}

.content-login-one a:nth-child(4) {
    background-color: #5cb9ef;
    color: #f2f2f2;

}

.content-login-one a:nth-child(4):hover {
    background-color: #3398d4;
}

.content-login-one a:nth-child(2):hover,
.content-login-one a:nth-child(3):hover {
    border: 1px solid #5cb9ef;
}

.content-login-one .group {
    display: flex;
    margin-right: 10px;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/*  */
.menu-two {
    background-color: #f5f5f5;
    display: flex;
    position: relative;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
}



.content-service {
    position: relative;
    width: 75%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content-service .fa-house {
    position: absolute;
    color: #aac633;
    font-size: 20px;
    margin-right: 35px;
    left: 12%;
    cursor: pointer;
}

.content-service li,
.content-service .a-tc {
    font-size: 18px;
    color: #000;
    cursor: pointer;
    margin-left: 45px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}

.content-service li:hover {
    color: #aac633;
}


.service:hover .ul-service {
    display: block;
    transition: all 1s;
}

.ul-service {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(51, 51, 51, 0.678);
    width: 230px;
    border-radius: 5px;
    padding: 7px 0;
    margin-top: 190px;
    background-color: #f5f5f5;
    list-style: none;
    display: none;
    z-index: 10;
}

.ul-service a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 7px 10px;
}

.ul-service a:hover {
    background-color: #aac633;
    color: #ffff;
}


.store:hover .ul-store {
    display: block;
    transition: all 1s;
}

.ul-store {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(51, 51, 51, 0.678);
    width: 230px;
    height: 72px;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 158px;
    background-color: #f5f5f5;
    list-style: none;
    display: none;
    z-index: 10;
}

.ul-store a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 7px 10px;
}

.ul-store a:hover {
    background-color: #aac633;
    color: #ffff;
}

/* ==========END MENU==================== */
/* ============CuuHo============= */

.container-tuyenTruyen {
    width: 100%;
    height: 400px;
    background-image: url(./access/tuyentruyen.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -30px;
    position: relative;
}

.container-tuyenTruyen:before {
    content: '';
    position: absolute;
    top: 21px;
    right: 0;
    left: 0;
    height: 379px;
    margin: auto;
    background-image: linear-gradient(rgb(0 0 0 / 50%) 5%, transparent);
}

.container-tuyenTruyen h2 {
    position: absolute;
    color: #f2f2f2;
    left: 50%;
    font-size: 40px;
    transform: translateX(-50%);
    bottom: 25%;
}

.container-tuyenTruyen span {
    position: absolute;
    color: #f5f5f5;
    left: 50%;
    font-size: 17px;
    transform: translateX(-50%);
    bottom: 25%;
}

.container-tuyenTruyen span a {
    text-decoration: none;
    color: #f5f5f5;
}

.container-tuyenTruyen span a:hover {
    color: #aac633;
}

/* =========END CuuHo============= */


/* ==========Home-7============= */
.container-home-seven {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}



.container-slide-seven {
    width: 100%;
    height: 1450px;
    position: relative;
    transition: 1s ease-in-out;
}

.slide-home-seven {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    background-color: #ffff;
}

.content-slide-seven {
    width: 371px;
    height: 447px;
    border-radius: 10px;
    margin: 15px 15px;
    cursor: pointer;
    background-color: #f2f2f2;
}

.content-slide-seven:hover .name-seven {
    text-decoration-line: underline
}

.content-slide-seven .img-slide-seven {
    width: 371px;
    position: relative;
}

.img-slide-seven img {
    width: 371px;
    border-radius: 10px;
}

.img-slide-seven .days-seven {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 60px;
    bottom: 5%;
    left: 10px;
    background-color: #fff;
}

.img-slide-seven .days-seven h2 {
    position: absolute;
    color: #f3f3f3;
    width: 90px;
    margin-top: 0;
    text-align: center;
    padding: 5px 0;
    background-color: #aac633;
}

.days-seven h3 {
    color: #555;
    bottom: -20px;
    padding: 2px 0;
    position: absolute;
}

.content-slide-seven .name-seven {
    font-size: 15px;
    margin-left: 10px;
}

.content-slide-seven .title-seven {
    font-size: 15px;
    width: 350px;
    color: #555;
    margin-left: 10px;
}

.content-slide-seven button {
    position: absolute;
    margin-left: 280px;
    background-color: transparent;
    color: #aac633;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.content-slide-seven button i {
    margin-left: 5px;
}

.content-slide-seven button:hover .paw-seven {
    transform: rotate(50deg);
    transition: all 1s;
}

.container-home-seven .dots-slide-seven {
    margin-top: 5px;
    display: flex;
    z-index: 10;
}

.dots-slide-seven .dots-seven {
    margin: 0 4px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #7979786d;
}

.dots-slide-seven .active-sevent {
    background-color: #aac633;
}

/* ========Home-8============= */
.container-coment-donate {
    padding-top: 30px;
    width: 100%;
    height: 790px;
    background-color: #faf8f8;
}

.container-coment-donate h2 {
    font-size: 37px;
    font-weight: 700;
    color: #000;
    margin-left: 150px;
}

.container-coment-donate h3 {
    position: absolute;
    margin-top: 15px;
    font-size: 18px;
    color: #555;
    margin-left: 150px;
}

.content-coment {
    width: 100%;
    height: 78%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.content-coment .left-coment {
    position: relative;
    width: 40%;
    display: flex;
}

.left-coment img {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 50%;
}

.left-coment .form-coment {
    width: 65%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 7px 7px rgb(0 0 0 / 25%);
}

.left-coment .form-coment .form-input {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60px;
    position: relative;
    margin-top: 35px;
}

.form-coment .form-input input {
    font-size: 15px;
    padding-left: 10px;
}

.left-coment .form-coment .input-text {
    height: 110px;
}

.form-coment label {
    position: absolute;
    top: 0;
    color: #000;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-coment .input-coment,
.form-coment .textarea {
    position: absolute;
    border: 1px solid #797978;
    bottom: 0;
    width: 100%;
    height: 55%;
    border-radius: 5px;
}

.form-coment .textarea {
    height: 70%;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    resize: none;
}

.form-coment button {
    position: absolute;
    left: 15%;
    bottom: 8%;
    background-color: #aac633;
    text-transform: uppercase;
    color: #fff;
    border: none;
    width: 145px;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    transition: all 0.25s ease 0s;
    cursor: pointer;
}

.form-coment button:hover {
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 50%);
    transform: translateY(-2px);
}

.content-coment .right-coment {
    position: relative;
    width: 40%;
}

.content-coment .right-coment h2 {
    position: absolute;
    left: -15%;
    top: 10%;
    font-size: 27px;
}

.content-coment .right-coment img {
    position: absolute;
    top: 3%;
    right: 0;
    z-index: 5;
}

.right-coment .content-donate {
    position: absolute;
    right: 0;
    top: 27%;
    background-color: #fff;
    width: 90%;
    height: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-coment .content-donate .items-donate {
    position: relative;
    width: 80%;
    height: 100px;
    display: flex;
    left: 5%;
}

.items-donate img {
    width: 20%;
    height: 70%;
    left: 0;
    position: absolute;
}

.items-donate .info-items {
    position: absolute;
    left: 25%;
    display: flex;
    flex-direction: column;
}

.items-donate .info-items span {
    font-size: 18px;
    color: #000;
    padding-top: 5px;
}

/* =========FOTTER============= */
.container-footer {
    width: 100%;
    height: 400px;
    background: #000;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-footer {
    width: 80%;
    margin-top: 5%;
    height: 60%;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.content-footer .footer-logo {
    width: 550px;
    display: flex;
    align-items: center;
}

.content-footer .footer-logo img {
    margin-top: -70px;
    margin-right: 5px;
    width: 100px;
}

.content-footer .footer-logo i {
    border-radius: 5px;
    background: #ffff;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-footer .footer-logo i:hover {
    background-color: #aac633;
    color: #faf8f8;
}

.content-footer .info-support {
    width: 350px;
    padding-top: 30px;
}

.content-footer .info-support h3 {
    font-size: 14px;
    font-weight: 900;
    padding-left: 17px;
}

.content-footer .info-support h3 i {
    position: absolute;
    font-size: 14px;
    transform: translateX(-15px);
}

.content-footer .connect-group {
    padding-top: 21px;
    margin-left: 40px;
}

.content-footer .connect-group h3 {
    font-size: 14px;
    font-weight: 900;
}

.content-footer .connect-group h3 i {
    font-size: 14px;
    margin-right: 7px;
}

.container-footer h2 {
    font-size: 16px;
    display: flex;
    margin-top: 20px;
}