* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455fc7;
}

.container-login .login {
    width: 60%;
    height: 70%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.login .imgLogin {
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url(../content-menu/access/pét.jpg);
    border-radius: 10px 0 0px 10px;
    background-size: 100% 100%;
}

.login .login-Input {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-Input .error {
    height: 19px;
    width: 295px;
    color: red;
}

.login .login-Input .Input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(101, 99, 99);
}

.login-Input .Input h2 {
    margin: 20px;
}

.login-Input .Input input {
    border: 1px solid gray;
    border-radius: 50px;
    width: 300px;
    padding: 8px 15px;
    height: 25px;
    outline: none;
}

.login-Input .Input input:nth-child(3) {
    margin-top: 20px;
}

.login-Input .Input input:focus {
    border: 1px solid black;
}

.login-Input .Input button {
    margin-top: 15px;
    border-radius: 50px;
    width: 330px;
    padding: 8px 15px;
    height: 40px;
    background-color: #2f59cda4;
    color: #ffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s;
}

.login-Input .Input button:hover {
    background-color: #2F58CD;
    transition: all 0.5s;
}

.login .login-Input .btn-gg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(101, 99, 99);
}

.login .login-Input .btn-gg button {
    border-radius: 50px;
    width: 330px;
    padding: 8px 15px;
    height: 40px;
    background-color: #3f497fe2;
    color: #ffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.login-Input .btn-gg button i {
    margin-right: 10px;
}

.login .login-Input .btn-gg button:hover {
    background-color: #3F497F;
}

.login .login-Input .btn-gg button:nth-child(1) {
    margin-bottom: 10px;
    background-color: #f94c29e8;
}

.login .login-Input .btn-gg button:nth-child(1):hover {
    background-color: #fb411c;
}

.login-Input .account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-Input .account a {
    text-decoration: none;
    margin: 7px 0;
    color: #85CDFD;
}

.login-Input .account a:hover {
    color: #47b1f7;
}